---
import SiteLayout from "../layouts/SiteLayout.astro";
const pageTitle = 'About Me';

const identity = {
	firstName: 'Leonardo',
	country: 'Brasil',
	occupation: 'Software Engineer',
	hobbies: ['photography', 'birdwatching', 'baseball']
};

const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Astro', 'Writing Docs'];
---
<SiteLayout title="Sobre">
    <div class="container">
        <p>Here are a few facts about me:</p>
        <ul>
          <li>My name is {identity.firstName}.</li>
          <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
          {identity.hobbies.length >= 2 &&
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
          }
        </ul>
        <p>My skills are:</p>
        <ul>
          {skills.map((skill) => <li>{skill}</li>)}
        </ul>
    </div>
</SiteLayout>